<ion-header>
  <ion-toolbar>
    <ion-title>toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  

  <ion-list>
    <ion-item>
      <ion-icon name="finger-print-outline"></ion-icon>
      <label>Ativar função 1</label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <label>Ativar função 2</label>
      <ion-toggle color="danger" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="flask-outline"></ion-icon>
      <label>Ativar função 3</label>
      <ion-toggle color="dark" ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
