<ion-header>
  <ion-toolbar>
    <ion-title>contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="warning" >GO</ion-button>

  <ion-button color="medium" expand="full">Next</ion-button>

  <ion-button expand="full" fill="outline">Outline</ion-button>

  <ion-button [routerLink]="['/home']" routerDirection="root"  >Voltar</ion-button>

</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-title>
      No border
    </ion-title>
  </ion-toolbar>

</ion-footer>

